.container {
  


    
}

input {
    font-size: 20px;
}

th, tr, td {
  border: 1px solid black;  
  padding: 9px;
}

td[data-row="3"] {
  color:rgb(42, 165, 63);
}

td[data-row="3"]:hover {
  color:rgb(42, 165, 63);
  cursor:pointer;
}

td[data-row="4"] {
  color:brown;
}

td[data-row="4"]:hover {
  color:brown;
  cursor:pointer;
}